* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  background-color: #eef2e6;
}

/**HEADER*/
.header {
  top: 0;
  position: sticky;
  z-index: 10;
}
.header .navbar-light .imgLogo {
  object-fit: scale-down;
  background-color: #d6cda4;
  margin-left: 10px;
}
.header .navbar-light .navbar-nav .colorAnclaNav {
  color: #d6cda4;
}
.header .colorNav {
  background-color: #3d8361;
}

/**MAIN INICIO**/
/**SECCION DE PLANTAS SOLICITADAS**/
.contenedorInicio .contenedorInicio_galeria__imagen {
  width: 150px;
  height: 150px;
}
.contenedorInicio .contenedorInicio_galeria__imagen img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.25rem;
}
.contenedorInicio .contenedorInicio_galeria__imagen .contenedorInicio_galeria__subtitulo {
  left: 0;
  background-color: rgba(0, 0, 0, 0.829);
  color: white;
  padding: 5px 10px;
  font-size: 14px;
  border-radius: 0.25rem;
}

/**CONTENIDO TEXTO DE BIENVENIDA**/
.contenedorInicio__SectionBienvenida {
  background-color: rgba(28, 103, 88, 0.6588235294);
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 20px;
  color: rgba(245, 245, 245, 0.945);
}

/**CARDS DE CLEINTES Y SUS EXPERIENCIAS**/
.contenedorInicio__card-section {
  color: #d6cda4;
}
.contenedorInicio__card-section .contenedorInicio__card-section__card {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.768627451);
}
.contenedorInicio__card-section .contenedorInicio__card-section__card img {
  width: 80%;
  height: auto;
  object-fit: cover;
  border-radius: 0.25rem;
  border: 1px solid #ccc;
  margin-top: 5px;
}

/**CATALOGO**/
.content-catalogo {
  max-width: 800px;
}
.content-catalogo h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.content-catalogo .gallery-catalogo {
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}
.content-catalogo .gallery-catalogo .image-catalogo {
  height: 200px;
}
.content-catalogo .gallery-catalogo .image-catalogo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.content-catalogo .gallery-catalogo .image-catalogo h3 {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.829);
  color: #fff;
  padding: 8px 0;
  margin: 0;
  font-size: 16px;
  text-align: center;
}
.content-catalogo p {
  margin-top: 5px;
  font-size: 16px;
  font-weight: bold;
}

/**CUIDADOS**/
.background-image {
  background-image: url("../assets/img/piedras_fondo_botanico_cuidados.jpg");
  background-size: contain;
  background-position: center;
  color: #fff;
  padding: 20px;
}

.h1_Intro {
  background-color: rgba(0, 0, 0, 0.829);
  border-radius: 2rem;
}

.introduccion {
  background-color: rgba(0, 0, 0, 0.829);
  border-radius: 2rem;
}

.cuidado {
  background-color: rgba(0, 0, 0, 0.829);
  border-radius: 2rem;
}
.cuidado .image-container img {
  width: 200px;
  height: 150px;
  object-fit: cover;
  border: 1px solid #ccc;
  border-radius: 5px;
}

@media (max-width: 768px) {
  .cuidado .image-container {
    flex-wrap: wrap;
  }
  .cuidado .image-container img {
    width: 100%;
    margin-bottom: 10px;
  }
}
/**NOSOTROS**/
.textOasis {
  max-width: 75%;
  margin: 0 auto;
  border-radius: 2rem;
  background-color: rgba(128, 128, 128, 0.466);
}

/**FORMULARIO**/
form {
  max-width: 24rem;
  margin: 0 auto;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  /* Estilos para los campos de entrada */
  /* Estilos para los botones */
}
form input[type=text],
form input[type=email],
form textarea {
  border: 1px solid #ccc;
}
form input[type=submit],
form input[type=reset] {
  display: inline-block;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  margin-right: 10px;
}
form input[type=reset] {
  background-color: #f44336;
}
form input[type=reset]:hover {
  background-color: orange;
}

/**mapa**/
.map-container {
  height: 22rem;
  border: 1px solid #ccc;
}
.map-container iframe {
  width: 100%;
  height: 100%;
  border: 0;
}

/**BLOG**/
.bienvenida,
.descubrimiento,
.decoracion,
.curioso,
.tendencia {
  border: 5px solid #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.329);
}
.bienvenida .imgBlog,
.descubrimiento .imgBlog,
.decoracion .imgBlog,
.curioso .imgBlog,
.tendencia .imgBlog {
  max-width: 400px;
  height: 300px;
  object-fit: cover;
  border: 5px solid #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}
.bienvenida .imgBlog:hover,
.descubrimiento .imgBlog:hover,
.decoracion .imgBlog:hover,
.curioso .imgBlog:hover,
.tendencia .imgBlog:hover {
  transform: scale(1.05);
}
.bienvenida .imgBlog img,
.descubrimiento .imgBlog img,
.decoracion .imgBlog img,
.curioso .imgBlog img,
.tendencia .imgBlog img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.bienvenida .imgBlog img:hover,
.descubrimiento .imgBlog img:hover,
.decoracion .imgBlog img:hover,
.curioso .imgBlog img:hover,
.tendencia .imgBlog img:hover {
  transform: scale(1.05);
}
.bienvenida .colorAnclaBlog,
.descubrimiento .colorAnclaBlog,
.decoracion .colorAnclaBlog,
.curioso .colorAnclaBlog,
.tendencia .colorAnclaBlog {
  color: black;
}
.bienvenida .colorAnclaBlog:hover,
.descubrimiento .colorAnclaBlog:hover,
.decoracion .colorAnclaBlog:hover,
.curioso .colorAnclaBlog:hover,
.tendencia .colorAnclaBlog:hover {
  color: orange;
}

/**FOOTER*/
footer {
  background-color: rgba(28, 103, 88, 0.6588235294);
  color: white;
}
footer .icon {
  color: black;
  margin: 0 10px;
}

/*# sourceMappingURL=estilos.css.map */
