/**HEADER*/
.header {
  top: 0;
  position: sticky;
  z-index: 10;

  .navbar-light {
    .imgLogo {
      object-fit: scale-down;
      background-color: map-get($color-web, c-crudo);
      margin-left: $margen-diez-px;
      width: 40px;
      height: auto;
    }

    .navbar-nav {
      .colorAnclaNav {
        color: map-get($color-web, c-crudo);
      }
    }
  }

  .colorNav {
    background-color: map-get($color-web, c-verde-oscuro);
  }
}