/**BLOG**/

.bienvenida,
.descubrimiento,
.decoracion,
.curioso,
.tendencia {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.329);
  border: map-get($bordes, borde-solid-cincopx);

  .imgBlog {
    max-width: 400px;
    height: 300px;
    object-fit: cover;
    @extend .tendencia;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.05);
    }

    img {
      width: $cien-porciento;
      height: $cien-porciento;
      object-fit: cover;

      &:hover {
        transform: scale(1.05);
      }
    }
  }

  .colorAnclaBlog {
    color: map-get($color, negro);
    &:hover {
      color: map-get($color, anaranjado);
    }
  }
}