$color-relleno-base-crudo: #d6cda4;
$color-relleno-base-claro: #eef2e6;
$color-relleno-base-verde-oscuro: #3d8361;
$color-relleno-base-verde-claro: #1c6758a8;
$color-fondo-texto-negro: rgba(0, 0, 0, 0.829);
$color-fondo-texto-gris: rgba(128, 128, 128, 0.466);
$color-fondo-texto-blanco: #fff;
$color-anaranjado: orange;
$color-blanco: white;
$color-negro: black;
$color-rojo: #f44336;
$color-azul: #00bef8;
$cien-porciento: 100%;
$borde-generico: 1px solid #ccc;
$borde-generico-dos: 5px solid #fff;
$margen-diez-px: 10px;
