
$cien-porciento: 100%;

$margen-diez-px: 10px;


$bordes: (
    borde-solid-unpx: 1px solid #ccc,
    borde-solid-cincopx: 5px solid #fff,
);

$color-web: (
    c-verde-oscuro: #3d8361,
    c-verde-claro: #1c6758a8,
    c-claro: #eef2e6,
    c-crudo: #d6cda4,
);

$fondo-texto: (
    ft-negro: rgba(0, 0, 0, 0.829),
    ft-gris: rgba(128, 128, 128, 0.466),
    ft-blanco: #fff,
);

$color: (
    anaranjado: orange,
    blanco: white,
    negro: black,
    rojo: #f44336,
    azul: #00bef8,
);